
<table>
<thead>
  <tr>
    <th>Job</th>
    <th>Applicant Name</th>
    <th>Email Address</th>
    <th>Website</th>
    <th>Skills</th>
    <th>Cover Letter Paragraph</th>
  </tr>
</thead>

<tbody>
    <% @jobs.each do |i| %>
    <% get_job_rowspan(i.id) %>
    <tr> 
      <td rowspan= <%= @rowspan %> class = "job"><%= i.name %></td>
        <% @applicants.each do |applicant| %>
          <% if applicant.job_id == i.id %>
            <% get_applicant_rowspan(applicant.id) %>
            <td rowspan= <%= @skills_rowspan %>><%= applicant.name %></td>
            <td rowspan= <%= @skills_rowspan %>><a href="mailto:<%= applicant.email %>"a><%= applicant.email %></a></td>
            <td rowspan= <%= @skills_rowspan %>><a href=<%= applicant.website %>><%= applicant.website %></a></td>
            <td><%= @first_row %></td>
            <td rowspan= <%= @skills_rowspan %>><%= applicant.cover_letter %></td>
            </tr>
            <% if @extra_rows.any? %>
                <% @extra_rows.each do |r| %>
                  <tr><td><%= r %></td></tr>
                <%end%>
            <%end%>
          <%end%>
        <%end%>
    <%end%>
</tbody

</table>
<table class = "foot">
      <tr COLSPAN = "20">
    <td>
    <%= "#{@appcount} Applicants and #{@skillcount} Unique Skills"%>
    </td>
    </tr>
<table>

  