<table>
  <thead>

  <tr>
    <th>Job</th>
    <th>Applicant Name</th>
    <th>Email Address</th>
    <th>Website</th>
    <th>Skills</th>
    <th>Cover Letter Paragraph</th>
  </tr>
</thead>
<tbody>
    <% @jobs.each do |i| %>
    <tr>
      <td rowspan="4" class = "job"><%= i.name %></td>
        <% @applicants.each do |applicant| %>
          <% if applicant.job_id == i.id %>
          <td><%= applicant.name %></td>
          <td><a href="mailto:<%= applicant.email %>"a><%= applicant.email %></a></td>
          <td><a href=<%= applicant.website %>><%= applicant.website %></a></td>
          <td>
            <% @skills.each do |s| %>
              <% if s.applicant_id == applicant.id %>
              <%= "#{s.name}" + "\n" %>
              <%end%>
            <%end%>
          </td>
          <td><%= applicant.cover_letter %></td>
    </tr>
          <%end%>
        <%end%>
    <%end%>
</tbody>

</table>
<table class = "foot">
      <tr COLSPAN = "20">
    <td>
    <%= "#{@appcount} Applicants and #{@skillcount} Unique Skills"%>
    </td>
    </tr>
<table>

  